#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Test comparison files should always use lf instead of crlf, to avoid OS-based shenanigans
**/test/fixtures/comparison-files/**/* text eol=lf
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

