root = true
# The purpose of this nested .editorconfig file is so that projects whose root is the `sfge` folder will receive the same
# editor config as projects whose root is the top-level folder.
[*]
indent_style = tab
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
indent_style = tab
indent_size = 4
